<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% include 'header.html' %}
        <div class="index">
            <div class="vertical-line">&nbsp;</div>
        </div>
        <div>
            {% if title %}
                {% for title in title %}
                    <p>{{ title }}</p>
                {% endfor %}
            {% endif %}
            <a href="{{ url_for('editorBp.editor') }}"><input type="button" id="write" value="글쓰기"></a>
            <input type="button" id="modified" value="수정">  
        </div>
    </body>
</html>