<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/ckeditor/ckeditor.js') }}"></script>
    </head>
    <body>
        {% include 'header.html' %}
        <form class="editor" method="POST">
            <input id="title" type="text" placeholder="Title" name="title" required autofocus><br>
            <textarea id="contents" name="post" required></textarea><br>
            <script>
                CKEDITOR.replace('contents');
            </script>
            <input type="submit" id="send" name="send" value="Send"><br>
        </form>
    </body>
</html>