<!DOCTYPE html>
<html>
    <head>
        <title>H@CK</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div id=header>
            <a href="{{ url_for('index') }}"><span id=HACK>H@CK</span></a>
            <div class=list>
                <ul>
                    <li><h2><a href="{{ url_for('language') }}">Language</a></h2></li>
                    <li><h2><a href="{{ url_for('algorythm') }}">Algorythm</a></h2></li>
                    <li><h2><a href="{{ url_for('network') }}">Network</a></h2></li>
                    <li><h2><a href="{{ url_for('web') }}">Web</a></h2></li>
                    <li><h2><a href="{{ url_for('system') }}">System</a></h2></li>
                </ul>
            </div>
        </div>
        {% if session['user'] %}
            <a href="{{ url_for('loginBp.logout') }}"><input type="button" value="LOGOUT" id=loginbox></a>
        {% else %}
            <a href="{{ url_for('loginBp.login') }}"><input type="button" value="LOGIN" id=loginbox></a>
        {% endif %}
    </body>
</html>