<!DOCTYPE html>
<html>
    <head>
        <title>H@CK</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div id=header>
            <span id=HACK>Login</span>
        </div>
        <form class="form-signin" method="POST" onSubmit="logincall();return false">
            <h3 class="form-name">로그인</h3>
            <input type="text" id="uid" class="form-control" placeholder="ID" name='id' required autofocus><br>
            <input type="password" id="upw" class="form-control" placeholder="Password" name='passwd' required><br>
            <a href="{{ url_for('RegistBp.register') }}"><p style="text-align: center; color: black;">회원가입</p></a><br>
            <button type="submit" id="login" class="form-login">Login</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="text-align:center">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>
