<!DOCTYPE html>
<html>
    <head>
        <title>H@CK</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div id=header>
            <span id=HACK>Sing Up</span>
        </div>
        <form class="form-signin" method="POST" onSubmit="logincall();return false">
                <h3 class="form-signing" style="margin-left: 39.5%; margin-top: 3.2%">회원가입</h3>
                <input type="text" id="uid" class="form-control" placeholder="ID" style="margin-top:2.5%;" name="id" required autofocus><br>
                <input type="password" id="upw" class="form-control" placeholder="Password" style="margin-top: 0.4%;" name="passwd" required><br>
                <input type="text" id="uname" class="form-control" placeholder="Name" style="margin-top:2.5%;" name="name"required autofocus><br>
                <input type="text" id="ucode" class="form-control" placeholder="Code" style="margin-top: 0.4%;" name="code" required><br>
                <button type="submit" id="login">Sign Up</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p align="center">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>
