#header {
    background-color: rgb(52, 152, 219);
    text-align: center;
    height: 196px;
    width: 83%;
    margin-left: 8.5%;
    display: inline-block;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}

#HACK {
    color:white;
    font-size: 40px;
    font-weight: 900;
    line-height: 170px;
}

#loginbox {
    background-color: #ffffff;
    position: absolute;
    top: 3%;
    left: 82%;
    width: 92px;
    height: 36px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border: 0;
}

li {
    display: inline-block;
    list-style: none;
    width: 17%;
    line-height: -170px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.list {
    position: relative;
    top: -30%;
}

.form-signin {
    width: 290px;
    margin: 0 auto;
}

.form-control {
    display: table;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
}

#login {
    display: table;
    margin: 0 auto;
    font-size: 25px;
    border: 0;
    background-color: rgb(52, 152, 219);
    height: 40px;
    color: white;
    width: 110%;
}

.editor {
    width: 600px;
    margin: 0 auto;
}

#title {
    display: table;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
}

#contents {
    display: table;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
}